/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
}
   .gradient {
    
    background: linear-gradient(to top, orange, grey);
    padding: 10px;
    margin: 0px;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40%;
   }
  

.btn-addproject {
  background: url("./addproject.png") no-repeat scroll 0 0 transparent;
  padding:19px 103px 9px 120px;
  border:none;
}

.delete-task {
  background: url("./projdelete.png") no-repeat scroll 0 0 transparent;
  padding:1px 5px 1px 15px;
  border:none;
  margin: 5px;

}

.edit-project {
  background: url("./projedit.png") no-repeat scroll 0 0 transparent;
  padding:1px 5px 1px 15px;
  border: none;
  
  
}

table {
	table-layout: fixed;
    width:100%;
    width: 1000px; /* Ширина таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
    text-align: center;

   }

   body { 
    margin: 0; /* Убираем отступы */
   }
   td {
   	word-wrap:break-word;
   border-collapse: collapse;
    text-align: left; /* Выравниваем текст по центру ячейки */

   }
   th {}
   
   .link {

     font-size: 100%;
      background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-spacing: 0;
   }

   .gh {
     font-size: 150%;
   }
   h2{ word-wrap: break-word; }
   
   table {
    table-layout: fixed;
    width:75%
}


.footer {
  position: left;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
}






    
