table {
border-collapse: collapse;
    width: 1000px; /* Ширина таблицы */
    border: 1px solid green; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
    text-align: left;
   }
   td {
   border: 1px solid black; /* Параметры рамки */
   border-collapse: collapse;
    text-align: left; /* Выравниваем текст по центру ячейки */

   }
   th {bgcolor: red;}
   
   .link {
     font-size: 150%;
   }

   .gh {
     font-size: 150%;
   }
   
   h2{ word-wrap: break-word; }